@use "../container" as bp;
@use "../typography" as t;

.card-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  padding: 0 15rem 3rem 15rem;

  @include bp.breakpoint-large-desktop-down {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  @include bp.breakpoint-desktop-down {
    padding: 0 3rem 3rem 3rem;
  }

  @include bp.breakpoint-tablet-down {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 0 1rem 3rem 1rem;
  }
}

.card-button {
  display: grid;
  
  &__items {
    border-radius: 0.5rem;
    background-color: #e4e5e8;
    border-top: 1rem solid #d89026;
    text-decoration: none;
    transition: transform 0.5s ease;

    &:hover {
      transition: transform 0.5s ease;
      transform: translateY(-5px);

      @include bp.breakpoint-tablet-down {
        transition: none;
        transform: unset;
      }
    }

    &:hover,
    &:hover svg,
    &:hover span {
      transition: all 0.5s ease;
      color: #d89026;
      fill: #d89026;

      @include bp.breakpoint-tablet-down {
        transition: none;
        transform: unset;

        &:active {
          color: #342e2d;
          fill: #342e2d;
        }
      }
    }
  }

  &__item-content {
    height: 100%;
  }

  &__image {
    max-width: 100%;
  }

  &__card-wrapper {
    max-width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s ease;
    transition: transform 0.5s ease;

    @include bp.breakpoint-tablet-down {
      transition: none;
      transform: unset;
    }
  }

  &__card-info {
    color: #342e2d;
    transition: all 0.5s ease;
    padding-bottom: 2.5rem;
    @include t.italic-text;

    @include bp.breakpoint-tablet-down {
      transition: none;
      transform: unset;
    }
  }

  &__image-button-arrow {
    width: 1rem;
    fill: #342e2d;
    padding: 1rem;
    transition: all 0.5s ease;

    @include bp.breakpoint-tablet-down {
      transition: none;
      transform: unset;
    }
  }
}