@use "../container" as bp;
@use "../typography" as t;

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fafafa;
  padding: 5rem 17rem 6rem 17rem;

  @include bp.breakpoint-desktop-down {
    padding: 5rem 3rem 6rem 3rem;
  }

  &__title {
    text-align: center;
    @include t.x-large-heading;

    @include bp.breakpoint-tablet-down {
      margin: 0;
    }
  }

  &__title-emphasis {
    @include t.x-large-heading;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    background: linear-gradient(90deg, #E0400B, #F9AE5C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0.1em transparent;
    -webkit-text-fill-color: #14181f;
  }

  &__text-wrapper {
    width: 100%;
    text-align: center;
    @include t.text-standard;
  }

  &__quote {
    @include t.text-small;
    color: rgba(250, 250, 250, 60%);
    font-weight: normal;
    text-wrap: wrap;
    @include bp.breakpoint-tablet-down {
      font-size: 1rem;
    }
  }

  &__expand-button-container {
    display: flex;
    justify-content: center;
  }

  &__expand-button {
    @include t.text-x-small;
    display: flex;
    text-decoration: none;
    background: linear-gradient(360deg,#e87422, #f69a46);
    color: #000000;
    border-radius: 3rem;
    padding: 1rem 2.5rem 1rem 2.5rem;
    transition: all 0.5s ease;

    &:hover {
      background-color: #fafafa;
      color: #342e2d;
      transition: all 0.5s ease;
    }

    @include bp.breakpoint-mobile-down {
      text-wrap: wrap;
      text-align: center;
    }
  }

  &__expand-button-arrow {
    width: 1.3rem;
    margin-left: 0.5rem;
    fill: #000000;
    transform: rotate(0);
    transition: transform 0.5s ease;
  }

  .fa-arrow-turn-up {
    transform: rotate(270deg);
    margin-left: 1rem;
  }

  &__email {
    @include t.text-standard;
    margin-top: 3rem;
    word-wrap: break-word;

  }

  &__self-statement {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}