.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fafafa;
  padding: 5rem 1rem 2rem 1rem;

  &__title {
    text-align: center;
    @include x-large-heading;
    padding-bottom: 3rem;

    @include breakpoint-tablet-down {
      padding-bottom: 2rem;
      margin: 0;
    }
  }

  &__text-wrapper {
    text-align: center;
    padding-bottom: 3rem;
    @include text-standard;
  }

  &__quote {
    @include italic-text;

    @include breakpoint-tablet-down {
      font-size: 1rem;
    }
  }

  &__expand-button {
    @include text-sm;
    display: flex;
    align-items: center;
    text-decoration: none;
    background: #9C691C;
    color: #fafafa;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 2rem;
    margin-bottom: 5rem;
    transition: all 0.5s ease;

    &:hover {
      background-color: #fafafa;
      color: #342e2d;
      transition: all 0.5s ease;
    }

    @include breakpoint-mobile-down {
      text-wrap: wrap;
      text-align: center;
    }
  }

  .fa-arrow-turn-up {
    transform: rotate(270deg);
    margin-left: 1rem;
  }

  &__about-intro {
    @include text-standard;

  }

  &__email {
    @include text-standard;
    margin-top: 3rem;

  }

  &__self-statement {
    margin-top: 3rem;
    font-size: 1.5rem;
  }
}