@use "../container" as bp;
@use "../typography" as t;

.header {
  color: #fafafa;
  background-color: #14181f;
  padding: 0 10rem;
  @include bp.breakpoint-desktop-down {
    padding: 0 1rem;
  }

  &__hamburger {
    display: none;

    @include bp.breakpoint-tablet-down {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      border: none;
      background-color: #14181f;
    }

    &:hover {
      cursor: pointer;
    }
  }


  &__hamburger-icon {
    @include bp.breakpoint-tablet-down {
      &:active path {
        stroke: #d89026;
      }
    }
  }

  &__hamburger-icon--clicked {
    display: none;
    transition: all 0.5s ease;
  }

  &__x-icon {
    display: none;

    @include bp.breakpoint-tablet-down {
      display: none;
      transition: all 0.5s ease;

      &:active {
        color: #342e2d;
      }
    }
  }

  &__x-icon--clicked {
    @include bp.breakpoint-tablet-down {
      position: fixed;
      color: #fafafa;
      stroke-width: 3px;
      width: 2rem;
      z-index: 2;
      left: unset;

      &:active {
        color: #342e2d;
      }
    }
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(250, 250, 250, 60%);
  }

  &__logo-title-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;

    @include bp.breakpoint-tablet-down {
      display: flex;
      align-items: center;
      margin-left: 0;
    }

    @include bp.breakpoint-mobile-down {
      gap: 0.75rem;
    }
  }

  &__logo {
    margin: 1rem 0 0.5rem;
    height: 4rem;
    transition: all 0.5s ease;
    transition: all 0.5s ease;

    &:hover {
      transform: rotate(360deg);
      transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }

  &__title {
    text-decoration: none;
    color: #fafafa;
    @include t.large-heading;


    @include bp.breakpoint-desktop-down {
      font-size: 1.5rem;
    }


    &:visited {
      color: #fafafa;
    }
  }

  &__header-menu {
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    margin: 0;
    padding: 0;
    gap: 5rem;

    @include bp.breakpoint-tablet-down {
      display: none;
    }
  }

  &__header-menu--clicked {
    display: none;

    @include bp.breakpoint-tablet-down {
      display: flex;
      position: fixed;
      flex-direction: column;
      justify-content: unset;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      left: 0;
      top: 0;
      padding-top: 6rem;
      background-color: #d89026;
      font-family: "PT Sans", sans-serif;
      font-size: 1.25rem;
      list-style-type: none;
      z-index: 1;
    }
  }

  &__header-menu--hidden {
    display: none;

    @include bp.breakpoint-tablet-down {
      display: none;
    }
  }

  &__menu-items {
    color: #fafafa;
    border: none;
    background: none;
    font-family: "PT Sans", sans-serif;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover svg,
    &:hover {
      transition: transform 0.5s ease;
      fill: #d89026;
      color: #d89026;
    }

    @include bp.breakpoint-tablet-down {
      margin: 0 0 4rem 2rem;
      padding: unset;
      font-size: 1.5rem;
      width: 100%;
    }
  }

  &__menu-items a {
    color: #fafafa;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &:active {
      color: #342e2d;
    }

    &:hover {
      color: #d89026;
    }

    @include bp.breakpoint-tablet-down {
      &:hover {
        color: #fafafa;
      }
    }
  }

  &__menu-chev {
    width: 1rem;
    margin-left: 0.5rem;
    fill: #fafafa;
    transform: rotate(0);
    transition: transform 0.5s ease;

    @include bp.breakpoint-tablet-down {
      width: 1.5rem;
      margin-right: 3rem;
    }
  }

  &__menu-chev-rotate {
    width: 1rem;
    margin-left: 0.5rem;
    fill: #fafafa;
    transform: rotate(180deg);
    transition: transform 0.5s ease;

    @include bp.breakpoint-tablet-down {
      width: 1.5rem;
      margin-right: 3rem;
    }
  }

  &__menu-dropdown>button {
    transition: transform 0.5s ease;
    cursor: pointer;

    &:hover svg,
    &:hover {
      transition: transform 0.5s ease;
      fill: #d89026;
      color: #d89026;
    }

    @include bp.breakpoint-tablet-down {

      &:hover svg,
      &:hover {
        transition: transform 0.5s ease;
        fill: #fafafa;
        color: #fafafa;
      }

      &:active svg,
      &:active {
        transition: transform 0.5s ease;
        fill: #342e2d;
        color: #342e2d;
      }


    }
  }

  &__menu-dropdown {

    @include bp.breakpoint-tablet-down {
      width: 100%;
    }
  }

  &__more-dropdown {
    display: block;
    margin-top: 1rem;
    margin-left: -6rem;
    border: 4px solid #fafafa;
    border-radius: 0.5rem;
    position: absolute;
    padding: 0.5rem;
    z-index: 1;
    background-color: #1c1919;

    @include bp.breakpoint-tablet-down {
      width: 100%;
      border: unset;
      background-color: #1c1919;
      padding: 0.5rem 3.5rem 0.5rem 9rem;
      margin-top: -3rem;
      border-radius: unset;
    }
  }

  &__more-dropdown-close {
    display: none;
  }

  &__dropdown-menu {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding: 0;

  }
  
  &__dropdown-items a {
    text-decoration: none;
    color: #fafafa;
    transition: all 0.2s ease;
    
    &:hover {
      transition: all 0.2s ease;
      color: #d89026;
    }
  }

  &__dropdown-items {
    @include bp.breakpoint-tablet-down {
      padding-bottom: 3rem;

      &:first-child {
        padding-top: 1.5rem;
      }

      &:last-child {
        padding-bottom: 1.5rem;
      }
    }
  }
}