@use "../styles/variables" as v;

html,
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #14181f;
}

#___gatsby, #gatsby-focus-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hover-effect {
    transition: all 0.5s ease;
    &:hover {
        transform: rotate(360deg);
        transition: all 0.5s ease;
    }
}
  
  //Mixins for responsive behaviour
  
  @mixin breakpoint-custom-down($max) {
    @media all and (max-width: $max) {
      @content;
    }
  }
  
  @mixin breakpoint-mobile-down {
    @include breakpoint-custom-down(v.$screen-sm-min) {
      @content;
    }
  }
  
  @mixin breakpoint-tablet-down {
    @include breakpoint-custom-down(v.$screen-md-min) {
      @content;
    }
  }
  
  @mixin breakpoint-desktop-down {
    @include breakpoint-custom-down(v.$screen-lg-min) {
      @content;
    }
  }

  @mixin breakpoint-large-desktop-down {
    @include breakpoint-custom-down(v.$screen-xl-min) {
      @content;
    }
  }
  
  //containers for various breakpoints
  
  @mixin x-large-container {
    @include container-fluid();
  
    max-width: v.$screen-xxl-min;
  }
  
  @mixin large-container {
    @include container-fluid();
  
    max-width: v.$screen-lg-min;
  }
  
  @mixin medium-container {
    @include container-fluid();
  
    max-width: v.$screen-md-min;
  }
  
  @mixin small-container {
    @include container-fluid();
  
    max-width: v.$screen-sm-min;
  }
  
  @mixin container-fluid {
    padding-inline: 1rem;
    margin: 0 auto;
  }