@use "../styles/variables" as v;
@use "../styles/container" as bp;

@mixin text-x-large {
    font-family: "Mukta Malar", sans-serif;
    font-size: v.$heading-xl;
    font-weight: v.$font-weight;
    line-height: v.$heading-lg-lh;
}

@mixin text-large {
    font-family: "Mukta Malar", sans-serif;
    font-size: v.$heading-lg;
    font-weight: v.$font-weight;
    line-height: v.$heading-lg-lh;
}

@mixin text-medium {
    font-family: "Mukta Malar", sans-serif;
    font-size: v.$heading-md;
    font-weight: v.$font-weight;
    line-height: v.$heading-md-lh;
}

@mixin text-small {
    font-family: "Mukta Malar", sans-serif;
    font-size: v.$heading-sm;
    font-weight: v.$font-weight;
    line-height: v.$heading-sm-lh;
}

@mixin text-x-small {
    font-family: "Mukta Malar", sans-serif;
    font-size: v.$heading-xs;
    font-weight: v.$font-weight;
    line-height: v.$heading-xs-lh;
}

@mixin heading-x-large {
    font-family: "PT Sans", sans-serif;
    font-size: v.$heading-xl-lh;
    font-weight: v.$font-weight;
    line-height: v.$heading-lg-lh;
}

@mixin heading-large {
    font-family: "PT Sans", sans-serif;
    font-size: v.$heading-lg;
    font-weight: v.$font-weight;
    line-height: v.$heading-lg-lh;
}

@mixin heading-medium {
    font-family: "PT Sans", sans-serif;
    font-size: v.$heading-md;
    font-weight: v.$font-weight;
    line-height: v.$heading-md-lh;
}

@mixin heading-small {
    font-family: "PT Sans", sans-serif;
    font-size: v.$heading-sm;
    font-weight: v.$font-weight;
    line-height: v.$heading-sm-lh;
}

@mixin heading-x-small {
    font-family: "PT Sans", sans-serif;
    font-size: v.$heading-xs;
    font-weight: v.$font-weight;
    line-height: v.$heading-xs-lh;
}

@mixin x-large-heading() {
    @include heading-x-large;

    @include bp.breakpoint-tablet-down() {
        @include heading-large;
    }
}

@mixin large-heading() {
    @include heading-large;

    @include bp.breakpoint-tablet-down() {
        @include heading-medium;
    }

    @include bp.breakpoint-mobile-down() {
        @include heading-small;
    }
}

@mixin small-heading() {
    @include heading-small;

    @include bp.breakpoint-tablet-down() {
        @include heading-x-small;
    }
}

@mixin text-standard {
    @include text-medium;
    font-weight: 400;

    @include bp.breakpoint-tablet-down() {
        @include text-small;
        font-weight: 400;
    }
}

@mixin text-sm {
    @include text-small;
    font-weight: 400;

    @include bp.breakpoint-tablet-down() {
        @include text-x-small;
        font-weight: 400;
    }
}

@mixin text-breadcrumb {
    @include text-x-small;
    font-size: 0.938rem;
    font-weight: 400;
}

@mixin italic-text {
    @include text-small;
    font-style: italic;
    font-weight: 400;

    @include bp.breakpoint-tablet-down() {
        @include text-x-small;
        font-style: italic;
        font-weight: 400;
    }
}
