@use "../styles/variables";
@use "../styles/typography";
@use "../styles/container";

// Components used in the landing page

@use "../styles/Components/card-button";
@use "../styles/Components/breadcrumb";

//partials that make up the landing page
@use "../styles/Partials/header";
@use "../styles/Partials/content";
@use "../styles/Partials/footer";